h4 {
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  h5 {
    margin: 0 0 10px;
    float: left;
    color: #000066;
  }
  
  h6 {
    margin: 0 0 10px;
    float: left;
  }

  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  a.fa.fa-list-ul,
  a.fa.fa-address-book-o,
  a.fa.fa-address-book,
  a.fa.fa-plus-circle{
    float:right; 
    border-color : #FFCC00;
    font-size: 40px;
    color: #FFCC00;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  #overlayInformacionEvento,
  #overlayEvento {
    visibility: hidden;
    /*position: absolute;*/
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;        
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */    
}

#overlayInformacionEvento div.modalShow,
#overlayEvento div.modalShow {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    border: 2px solid #000066;
    border-radius: 8px;
    /* max-height: 800px;
    overflow: scroll; */
}

body {
    height:100%;
    margin:0;
    padding:0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

::ng-deep span.cal-day-badge.ng-star-inserted{
    background-color : #000066 !important;
}

::ng-deep div.invitadoMargen{
    margin-left: 40px;
    margin-right:40px;
}

::ng-deep div.btn.btn-primary{
    background-color : #000066;
    border-color: #000066;
}

::ng-deep div.btn.btn-primary:hover{
    background-color : #FFCC00;
    border-color: #FFCC00;
    color: black;
}

::ng-deep div.btn.btn-primary.active{
    background-color : #153086 !important;
    border-color : #153086 !important;
}

::ng-deep a.cal-event-action.ng-star-inserted .fa.fa-fw.fa-times{
    color :rgb(233, 30, 30);
}

::ng-deep a.cal-event-action.ng-star-inserted .fa.fa-fw.fa-times:hover{
    color :darkred;
}

::ng-deep a.cal-event-action.ng-star-inserted .fa.fa-plus-square{
    color : green;
}

::ng-deep a.cal-event-action.ng-star-inserted .fa.fa-plus-square:hover{
    color : darkgreen;
}

::ng-deep div.cal-open-day-events.ng-tns-c12-3.ng-trigger.ng-trigger-collapse.ng-star-inserted{
    background-color: #332a2a !important;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .centered button.crear,
  .centered button:focus
  {
    background-color: #FFCC00;
    color : #ffffff;
    border-color: #ffffff;  
    margin-left: 5px;
    margin-right: 5px;
  }

  .centered button.salir,
  .centered button:focus
  {
    background-color: #000066;
    color : #ffffff;
    border-color: #ffffff;  
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .centered button:hover.crear,
  .centered button:visited,
  .centered button:active
  {
    background-color:#ffffff ;
    color : #FFCC00;
    border-color: #FFCC00;  
  }

  .centered button:hover.salir,
  .centered button:visited,
  .centered button:active
  {
    background-color:  #ffffff ;
    color : #000066;
    border-color: #000066;  
  }

  .input-group{
      display:block !important;
  }

  /* BOTON SUSCRIPCION */

  a.fa.fa-bell{
    float:right; 
    border-color : #FFCC00;
    font-size: 20px;
    color: #FFCC00;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    min-width: 125px;
  }
  
  a.fa.fa-check{
    float:right; 
    border-color : #ffffff;
    font-size: 20px;
    color: #ffffff;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    background-color: #FFCC00;
    min-width: 125px;
  }

  .custom-mostrar {
    float: left;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #FFCC00;
    color : #ffffff;
    border-color: #ffffff;  
    border-radius: 8px;
}

.custom-mostrado {
    float: left;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #ffffff;
    color : #FFCC00;
    border-color: #FFCC00;  
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
}

.custom-inscribir {    
    float: left;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #ffffff;
    color : #FFCC00;
    border-color: #FFCC00;  
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;  
    min-width: 200px;
}

.custom-inscrito {
    float: left;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #FFCC00;
    color : #ffffff;
    border-color: #ffffff;  
    border-radius: 8px;
    min-width: 200px; 
}

label.custom-inscrito:before{
    content: "Inscrito   "
}

label.custom-inscribir:before{
    content: "Inscribirse   "
}

.textoPanel{
    background-color: rgb(223, 205, 134);
    min-height: 100px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  p.labelPanel{
    padding: 0px 90px !important;
}

.margenTexto{
    margin: 14px;
}