<br><br>

<div class="ServMargen">

  <br><br>
  <h2>Ideas</h2>
  <br><br>

  <div class="mat-app-background basic-container">

    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
    </div>
  
    <div class="example-container mat-elevation-z8" >
  
      <mat-table #tableSeguimientoIdeas [dataSource]="dataSource" matSort>
  
        <!-- ID Column -->
        <ng-container matColumnDef="titulo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.titulo}} </mat-cell>
        </ng-container>
  
        <!-- Remitente Column -->
        <ng-container matColumnDef="autor">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Autor </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.autor}} </mat-cell>
        </ng-container>

        <!-- Estado Column -->
        <!-- <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
          <mat-cell class="{{row.estado}} mat-cell cdk-column-estado mat-column-estado" *matCellDef="let row"></mat-cell>
        </ng-container> -->
        
        <!-- Fecha Column -->
        <ng-container matColumnDef="correo">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.correo}} </mat-cell>
        </ng-container>
  
        <!-- Ver Column -->
        <ng-container matColumnDef="ver">
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell class="{{row.estado}} mat-cell cdk-column-ver mat-column-ver" *matCellDef="let row"  (click)="abrirIdea(row)"></mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  
  </div>


  <div id="overlayDetalleDeIdea">
  
    <div class="modalShow">      
        <span class="close" (click)="cerrarPopUp()">&times;</span><br><br>
        
        <form>
          <div class="forma">

            <h4>
              Idea
            </h4>

            <input [disabled]="true" class="formas" placeholder="Nombre Idea" #nombreIdeas maxlength="80" [(ngModel)]="idea.titulo" name="nombreIdeas" required>
                  
            <br><br>
      
            <textarea [disabled]="true" placeholder="Mensaje Idea" #msnIdeas maxlength="300" [(ngModel)]="idea.descripcion" name="msnIdeas" cols="25"></textarea>

            <!-- <h4 *ngIf="idea.estado">
              Respuesta
            </h4> -->

            <!-- *ngIf="idea.estado"  -->
            <!-- <textarea placeholder="Respuesta" #msnRespuesta maxlength="300" [(ngModel)]="respuesta" name="msnRespuesta" cols="25"></textarea> -->
          
            <!-- *ngIf="idea.estado"  -->
            <!-- <input class="formas" (click)="enviar()" type="submit" value="Responder"> -->
      
          </div>
        </form>        
  
        <br><br>
    </div>
  
    
  </div>



</div>

