<h2>Enlaces</h2>

<br><br>

<div class="mat-app-background basic-container">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8" >

    <mat-table #tableEnlaces [dataSource]="dataSource" matSort>

      <!-- Progress Column -->
      <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="prueba(row)"> {{row.name}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[1, 10, 25, 100]"></mat-paginator>
  </div>

</div>