<br>
<div class="CorreosMargen">
<h2>Administración de Correos</h2>

<br><br>

<a class="fa fa-plus-circle" (click)="crearCorreo()"></a>

<div class="mat-app-background basic-container">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8" >

    <mat-table #tableAdmonCorreos [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Facultad </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
      </ng-container>
      
      <!-- Info Column -->
      <ng-container matColumnDef="correo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Correo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.correo}} </mat-cell>
      </ng-container>

      <!-- Eliminar Column -->
      <ng-container matColumnDef="eliminar">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let row"  (click)="eliminarCorreo(row)"></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>

</div>

<div id="overlayAdicionCorreos">
  
  <div class="modalShow">      
      <span class="close" (click)="cerrarPopUp()">&times;</span><br><br>
      
      <h3>AGREGAR CORREO</h3>   
      
      
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nombreCorreoAdmon" placeholder="Ingrese nombre" name="nombreCorreoAdmon"
              [(ngModel)]="elCorreo.nombre">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Correo</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="elcorreoAdmon" placeholder="Ingrese correo" name="elcorreoAdmon"
              [(ngModel)]="elCorreo.correo">
          </div>
        </div>        
      </form>
      <br><br>

      <div class="input-group centered">
        <button  class="btn btn-info btn-lg guardar" type="button" (click)="guardarCambios()">{{'EVENTOS.SAVE'| translate}}</button>       
        <button  class="btn btn-info btn-lg cancelar" type="button" (click)="cerrarPopUp()">{{'EVENTOS.CANCEL'| translate}}</button>
      </div> 

  </div>

  
</div>

<app-popup-aviso #admonCorreosPopUp [mensaje]="mensajeMostrar" (confirmo)="confirmoCierre($event)" ></app-popup-aviso>