<br>
<div class="tablaMargen">
<h2>Usuarios</h2>

<br><br>

<a class="fa fa-plus-circle" (click)="agregarUsuario()" ></a>

<div class="mat-app-background basic-container">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8" >

    <mat-table #tableUsuario [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.progress}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Caracteristica">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="Color">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.color}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[2, 10, 25, 100]"></mat-paginator>
  </div>

</div>
</div>

<br><br>