img{
    width:100%;
    max-width:600px;
    position: absolute;
    left: 50%;
    margin-left: -300px
}

.imgHolder {
    position: relative;
}

.imgHolder span {
    position: absolute;
    right: 10px;
    top: 10px;
}