<div class="contGridFluid imageLogin">
  <div class="colGrid2">

    <form (keydown)="keyDownFunction($event)">
    <div class="bodyLogin">               
      <img width="400" src="..\assets\images\JaverianaLogo.png" >
      <br><br><br><br><br>      

      <div class="contGridFluid logForm">
          <div class="colGrid1">
            <br><br>
            <span>Nombre:</span> <br>
            <input id="name" #name="ngModel" name="name" type="text" placeholder="Nombre de Usuario" [(ngModel)]="datosLogin.username" required/>   
            <br><br>
          </div>

          <div class="colGrid1">
            <span>Contraseña:</span> <br>
            <input id="psw" name="psw" type="password" placeholder="Contraseña" [(ngModel)]="datosLogin.contrasena" required/>
            <br><br>
          </div>

          <div class="colGrid1">
            <button type="button" class="btn btn-info btn-lg" (click)="login()">Log In</button>
            <br><br>
        </div>
      </div>               
    </div>
    </form>
  </div>
  <div class="colGrid2">
    <div class="bodyLogin">   
    <div class="masthead">
      <div class = "masthead-bg"> </div>
        Hola
    </div>
    </div>
  </div>

  <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a target="_blank" href="https://twitter.com/unijaveriana?lang=es">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a target="_blank" href="https://www.youtube.com/user/UniJaveriana">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a target="_blank" href="https://www.facebook.com/unijaveriana">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div>

</div>