.acordeonButton{
    height: 10px;
    float: right;
    width: 70px;
    margin-right : 700px;
}

button,
button:focus
{
  background-color: #000066;
  color : #ffffff;
  border-color: #ffffff;  
}

button:hover,
button:visited,
button:active
{
  background-color: #ffffff ;
  color : #000066;
  border-color: #000066;  
}

.panel-heading{
    cursor:pointer !important;
}