<div class="panel-group" id="accordion">
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseA">
    <h4 class="panel-title">
      <a>{{'ACORDEON.CIENTIFICA'| translate}}</a>
    </h4>
  </div>
  <!-- <div id="collapse1" class="panel-collapse collapse in"> -->
  <div id="collapseA" class="panel-collapse collapse">
    <div class="panel-body">
      <br>
      Aca van a ir CIENTIFICA
      <br><br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseB">
    <h4 class="panel-title">
      <a>{{'ACORDEON.LABORATORIO'| translate}}</a>
    </h4>
  </div>
  <div id="collapseB" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        Acá van a ir las LABORATORIO
        <br><br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseC">
    <h4 class="panel-title">
      <a>{{'ACORDEON.INSTITUCIONES'| translate}}</a>
    </h4>
  </div>
  <div id="collapseC" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        Acá van a ir las INSTITUCIONES
        <br><br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseD">
    <h4 class="panel-title">
      <a>{{'ACORDEON.REDES'| translate}}</a>
    </h4>
  </div>
  <div id="collapseD" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        Acá van a ir las REDES
        <br><br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseE">
    <h4 class="panel-title">
      <a>{{'ACORDEON.TECNOLOGICOS'| translate}}</a>
    </h4>
  </div>
  <div id="collapseE" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        Acá van a ir las TECNOLOGICOS
        <br><br>
    </div>
  </div>
</div>
</div>
      