<!-- <button type="button" class="btn btn-info btn-lg" (click)="abrirEdicion()">Agregar Categoria Externa</button> -->
<a *ngIf="esAdmin" class="fa fa-plus-circle" (click)="abrirEdicion()" ></a>
<br>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
  <div class="panel-heading" (click)="getDominiosInternacionales('CIENTIFICA')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.CIENTIFICA'| translate}}</a>
    </h4>
  </div>
  <!-- <div id="collapse1" class="panel-collapse collapse in"> -->
  <div id="collapseA"  *ngIf="map.get('CIENTIFICA')">
    <div class="panel-body">
      <br>
      <div class="typewriter">
        <h1>Contactar al administrador para mayor información.</h1>
      </div>
      <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" (click)="getDominiosInternacionales('LABORATORIO')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.LABORATORIO'| translate}}</a>
    </h4>
  </div>
  <div id="collapseB"  *ngIf="map.get('LABORATORIO')">
    <div class="panel-body">
        <br>
        <div class="typewriter">
          <h1>Contactar al administrador para mayor información.</h1>
        </div>
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" (click)="getDominiosInternacionales('UNIVERSIDAD')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.INSTITUCIONES'| translate}}</a>
    </h4>
  </div>
  <div id="collapseC"  *ngIf="map.get('UNIVERSIDAD')">
    <div class="panel-body">
        <br>
        <div class="contGridFluid">
          <div *ngFor="let institucion of dominiosInternacionales" (click)="seleccion(institucion)" class="colGrid3" style="text-align:center">
              <ng-container>
                <img class="imagenAcordeon" src="../../../assets/images/add-icon.png" (click)="abrirLink(institucion.url)">  
                <br><br>
                <div class="input-group">
                  <a class="acordeonButton labelAcordeon">{{ institucion.nombre }}</a>
                </div>
                <br>
                <div class="input-group padInferior">
                  <a *ngIf="!esAdmin" class="fa fa-external-link acordeonButton" (click)="abrirLink(institucion.url)"></a>                  
                  <a *ngIf="esAdmin" class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioInternacional(institucion)" ></a>
                  <a *ngIf="esAdmin" class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioInternacional(institucion.id)" ></a> 
                  <a *ngIf="esAdmin" class="fa fa-trash-o acordeonButton" (click)="eliminarDominioInternacional(institucion.id, 'UNIVERSIDAD')" ></a>
                </div>        
              </ng-container>
          </div>
        </div>
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" (click)="getDominiosInternacionales('RED_ACELERADORAS')"> 
    <h4 class="panel-title">
      <a>{{'ACORDEON.REDES'| translate}}</a>
    </h4>
  </div>
  <div id="collapseD"  *ngIf="map.get('RED_ACELERADORAS')">
    <div class="panel-body">
      <br>
      <div class="contGridFluid">
        <div *ngFor="let acelerador of dominiosInternacionales" (click)="seleccion(acelerador)" class="colGrid3" style="text-align:center">

          <ng-container>
            <img class="imagenAcordeon" src="../../../assets/images/add-icon.png" (click)="abrirLink(acelerador.url)">  
            <br><br>
            <div class="input-group">
              <a class="acordeonButton labelAcordeon">{{ acelerador.nombre }}</a>
            </div>
            <br>
            <div class="input-group padInferior">
              <a *ngIf="!esAdmin" class="fa fa-external-link acordeonButton" (click)="abrirLink(acelerador.url)"></a>
              <a *ngIf="esAdmin" class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioInternacional(acelerador)" ></a>
              <a *ngIf="esAdmin" class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioInternacional(acelerador.id)" ></a> 
              <a *ngIf="esAdmin" class="fa fa-trash-o acordeonButton" (click)="eliminarDominioInternacional(acelerador.id, 'RED_ACELERADORAS')" ></a>
            </div>       
            <br><br><br> 
          </ng-container>

        </div>
      </div>
      
      <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" (click)="getDominiosInternacionales('TECNOLOGICOS')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.TECNOLOGICOS'| translate}}</a>
    </h4>
  </div>
  <div id="collapseE"  *ngIf="map.get('TECNOLOGICOS')">
    <div class="panel-body">
        <br>
        <div class="typewriter">
          <h1>Contactar al administrador para mayor información.</h1>
        </div>
        <br><br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" (click)="getDominiosInternacionales('AUSJAL')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.AUSJAL'| translate}}</a>
    </h4>
  </div>
  <div id="collapseF"  *ngIf="map.get('AUSJAL')">
    <div class="panel-body">
        <br>
        <div class="contGridFluid">
          <div *ngFor="let ausjal of dominiosInternacionales" (click)="seleccion(ausjal)" class="colGrid3" style="text-align:center">
                        
              <ng-container>
                <img class="imagenAcordeon" src="../../../assets/images/add-icon.png" (click)="abrirLink(ausjal.url)">  
                <br><br>
                <div class="input-group">
                  <a class="acordeonButton labelAcordeon">{{ ausjal.nombre }}</a>
                </div>
                <br>
                <div class="input-group padInferior">
                  <a *ngIf="!esAdmin" class="fa fa-external-link acordeonButton" (click)="abrirLink(ausjal.url)"></a>
                  <a *ngIf="esAdmin" class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioInternacional(ausjal)" ></a>
                  <a *ngIf="esAdmin" class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioInternacional(ausjal.id)" ></a> 
                  <a *ngIf="esAdmin" class="fa fa-trash-o acordeonButton" (click)="eliminarDominioInternacional(ausjal.id, 'AUSJAL')" ></a>
                </div>       
                <br><br><br> 
              </ng-container>

          </div>
        </div>
        <br>
    </div>
  </div>
</div>
</div>

<!-- <button type="button" class="btn btn-info btn-lg" (click)="editarDominioInternacional(datos)">Editar Prueba Int</button>

<button type="button" class="btn btn-info btn-lg" (click)="editarImagenDominioInternacional(datos.id)">Imagen Prueba</button> -->

<app-dominio-pop-up></app-dominio-pop-up>

<app-adicionar-dominio-pop-up></app-adicionar-dominio-pop-up>

<app-imagen-pop-up></app-imagen-pop-up>

            <!-- <div class="input-group">
              {{ acelerador.nombre }}
              <a class="fa fa-external-link acordeonButton" (click)="abrirLink(acelerador.url)"></a>
              <a class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioInternacional(acelerador)" ></a>
              <a class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioInternacional(acelerador.id)" ></a> 
            </div> -->