/* .acordeonButton{
    height: 10px;
    float: right;
    width: 70px;
    margin-right : 700px;
} */
.acordeonButton{
  float: right;
}

button,
button:focus
{
  background-color: #000066;
  color : #ffffff;
  border-color: #ffffff;  
}

button:hover,
button:visited,
button:active
{
  background-color: #ffffff ;
  color : #000066;
  border-color: #000066;  
}

button {
  float:right;
}

.panel-heading{
    cursor:pointer !important;
}

a.fa.fa-plus-circle{
  float:right; 
  border-color : #FFCC00;
  font-size: 45px;
  color: #FFCC00;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

/* Con la imagen */

.imagenAcordeon{
  cursor: pointer;
  border-radius: 30%;
  padding: 1px 1px;
  height: 200px;
  max-width: 450px;
}

.acordeonButton{
  /* margin: auto;
  width: 20%;
  padding: 10px; */
  display: table;  /* Instead of display:block */
  margin-left: auto;
  margin-right: auto;
}

.labelAcordeon{
  font-size: 1rem;
  font-weight: 800;   
}

a.fa.fa-external-link,
a.fa.fa-pencil-square-o,
a.fa.fa-cloud-upload{
  border-color : #FFCC00;
  font-size: 40px;
  color: #FFCC00;
  cursor: pointer;
}

a.fa.fa-trash-o{
  border-color : darkred;
  font-size: 40px;
  color: darkred;
  cursor: pointer;
}

.input-group.padInferior{
  padding : 0px 160px 30px 160px !important;
  /* padding: 0px 180px !important;  */
}

/* Animacion */

.typewriter{
  width:100%;
  margin:0 auto;
}
.typewriter h1 {
  color: #000066;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  text-align: center;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
