/* .acordeonButton{
    height: 10px;
    float: right;
    width: 70px;
    margin-right : 700px;
} */
.acordeonButton{
  float: right;
}

button,
button:focus
{
  background-color: #000066;
  color : #ffffff;
  border-color: #ffffff;  
}

button:hover,
button:visited,
button:active
{
  background-color: #ffffff ;
  color : #000066;
  border-color: #000066;  
}

button {
  float:right;
}

.panel-heading{
    cursor:pointer !important;
}

a.fa.fa-plus-circle{
  float:right; 
  border-color : #FFCC00;
  font-size: 45px;
  color: #FFCC00;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

/* Con la imagen */

.imagenAcordeon{
  cursor: pointer;
  border-radius: 30%;
  padding: 1px 1px;
  height: 200px;
  max-width: 450px;
}

.acordeonButton{
  /* margin: auto;
  width: 20%;
  padding: 10px; */
  display: table;  /* Instead of display:block */
  margin-left: auto;
  margin-right: auto;
}

.labelAcordeon{
  font-size: 1rem;
  font-weight: 800;   
}

a.fa.fa-external-link,
a.fa.fa-pencil-square-o,
a.fa.fa-cloud-upload{
  border-color : #FFCC00;
  font-size: 40px;
  color: #FFCC00;
  cursor: pointer;
}

.input-group.padInferior{
  padding : 0px 160px 30px 160px !important;
  /* padding: 0px 180px !important;  */
}