
<br>
<div class="apoyoMargen">


  <br><br>
  <h2>{{'ENTORNO.CUENTANOS'| translate}}</h2>
  <br>
  <div class="colGrid2 textoPanel" style="text-align:center">
    <p class="margenTexto mb-3 labelPanel"> 
      {{'CUENTANOS.INFO'| translate}}
    </p>
  </div>
  <br>

  <form>
    <div class="forma">

      <mat-form-field>
        <mat-select [(value)]="etapaActual" placeholder="{{'CUENTANOS.SELECTETAPA'| translate}}">
          <mat-option *ngFor="let etapa of etapas" [value]="etapa">
            {{ etapa.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(value)]="seleccionados" placeholder="{{'CONFGENERAL.ACCION' | translate}}" [formControl]="campos" multiple>
          <mat-option *ngFor="let campo of listaCampos" [value]="campo">{{'CONFGENERAL.'+campo.nombre | translate}}</mat-option>
        </mat-select>
      </mat-form-field>          
        
      <input placeholder="{{'SOLICITARSERVICIO.NOMBRE' | translate}}" #nombre maxlength="80" [(ngModel)]="solicitudIdea.titulo" name="Name" required>
            
      <br><br>

      <textarea placeholder="{{'SOLICITARSERVICIO.MENSAJE' | translate}}" #msn maxlength="300" [(ngModel)]="solicitudIdea.descripcion" name="Msn" cols="25"></textarea>
    
      <input (click)="enviarIdea()" type="submit" value="{{'CUENTANOS.SEND'| translate}}">

    </div>
  </form>

</div>

<app-popup-aviso [mensaje]="mensajeMostrar" (cerroPop)="onCerrarNotify($event)"></app-popup-aviso>