
<br>
<div class="apoyoMargen">


  <br><br>
  <h2>Escribe tu Idea</h2>
  <br>
  <div class="colGrid2 textoPanel" style="text-align:center">
    <p class="margenTexto mb-3 labelPanel"> 
      Este espacio le permite dar a conocer su idea de emprendimiento, al seleccionar los campos de acción y fase en la que 
      cree se encuentra nuestro sistema enviará está información al administrador o mentor que mejor se acomode a estas preferencias 
      y por lo tanto pueda apoyarlo y brindarle asesoramiento.
      </p>
  </div>
  <br>

  <form>
    <div class="forma">

      <mat-form-field>
        <mat-select [(value)]="etapaActual" placeholder="Seleccione una Etapa de Emprendimiento">
          <mat-option *ngFor="let etapa of etapas" [value]="etapa">
            {{ etapa.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(value)]="seleccionados" placeholder="Campos de Acción" [formControl]="campos" multiple>
          <mat-option *ngFor="let campo of listaCampos" [value]="campo">{{campo.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>          
        
      <input placeholder="Nombre" #nombre maxlength="80" [(ngModel)]="solicitudIdea.titulo" name="Name" required>
            
      <br><br>

      <textarea placeholder="Mensaje" #msn maxlength="300" [(ngModel)]="solicitudIdea.descripcion" name="Msn" cols="25"></textarea>
    
      <input (click)="enviarIdea()" type="submit" value="Enviar">

    </div>
  </form>

</div>

<app-popup-aviso [mensaje]="mensajeMostrar" (cerroPop)="onCerrarNotify($event)"></app-popup-aviso>