button,
button:focus
{
  background-color: #000066;
  color : #ffffff;
  border-color: #ffffff;  
}

button:hover,
button:visited,
button:active
{
  background-color: #ffffff ;
  color : #000066;
  border-color: #000066;  
}

::ng-deep div.dominiosMargen{
  margin-left: 40px;
  margin-right:40px;
}

/* aviso advertenvia */

.textoPanel{
  background-color: #fcf8e3 ;
  border: 1px solid #888;
  border: 2px solid #faebcc;
  color: #8a6d3b;
  min-height: 70px;
  max-height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 7px;
}

p.labelPanel{
  padding: 0px 90px !important;
}

.margenTexto{
  margin: 14px;
}