/* img{
    width:100%;
    max-width:600px;
    position: absolute;
    left: 50%;
    margin-left: -300px
}

.imgHolder {
    position: relative;
    vertical-align:middle;
}

.imgHolder label{
    margin-right:400px;
 } */

 img{
    width:100%;
    max-width:600px;
}


 div {
    display:flex;
    align-items:center;
    /* margin-left: 40px;
    margin-right: 20px; */
    /*Dejar centrado*/
    margin: auto;
    width: 50%;
    padding: 10px;
}

span{
    margin-left: 30px;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 60px
}
