<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="esUser">    
    <header>
        <div class="container-fluid brand-container">
            <div >
                <a href="http://www.javeriana.edu.co"> <img src="assets/images/header/tiara.png" alt="Pontificia Universidad Javeriana"></a>            
                <img class="pull-right content-to-hide" src="assets/images/header/SIEEJ.png" alt="MAX">
        </div>       
        </div>
        
        <div class="container-fluid navtopdiv"></div>
        <ul class="topnav">
            <li><a class="active" href="#">{{'ENTORNO.HOME'| translate}}</a></li>
            <li><a (click)="openTabs('usuario')">{{'ENTORNO.USUARIOS'| translate}}</a></li> <!-- [routerLink]="['/usuario']" -->
            <li><a (click)="openTabs('empresa')">{{'ENTORNO.EMPRESAS'| translate}}</a></li>
            <li><a (click)="openTabs('evento')">{{'ENTORNO.EVENTOS'| translate}}</a></li>
            <li><a (click)="openTabs('directorio')">{{'ENTORNO.DIRECTORIO'| translate}}</a></li>

            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Page 1-1</a></li>
                  <li><a href="#">Page 1-2</a></li>
                  <li><a href="#">Page 1-3</a></li>
                </ul>
              </li>

            <li class="right"><a (click)="logout()">{{'ENTORNO.SALIR'| translate}}</a></li>
            <li class="right"><a class="disabled">{{'ENTORNO.BIENVENIDO'| translate}} {{currentUser}}</a></li>            
        </ul>

        

        <div> <!--  *ngIf="aparecen[0].muestra" -->
            <div class="dropMenu" style="right:102px;">
                <!--borrar style-->
                <div class="infoLanguage">
        
                    <select #langSelect (change)="translate.use(langSelect.value)" class="form-control" (change)="cerrarAlSeleccionar()" [(ngModel)]="langActual">
                        <option class="optSelect" *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{'ENTORNO.'+lang | translate}}</option>
                    </select>
        
                </div>
            </div>
        </div>

    </header>
    <!-- <nav>
        <app-menu></app-menu>
    </nav> -->
    
    <br>
    <app-tabs>
        <app-tab [tabTitle]="'Principal Emprendimiento'">
            <div *ngIf="getStaticMostrarEtiquetas()">
                <br><br>
                <app-etiquetas-inicio></app-etiquetas-inicio>  
            </div>
            <div *ngIf="!getStaticMostrarEtiquetas()">
                <br><br>
                <router-outlet></router-outlet>
            </div> 
            <br><br>
            <button class="btn btn-default" (click)="openTabs('about')"><i class="glyphicon glyphicon-question-sign"></i> Información </button>         
        </app-tab>
    </app-tabs>

    <ng-template #about>
        <br><br>    
        <p>
            Bienvenido al Sistema de Emprendimiento Javeriano
        </p>    
    </ng-template>

    <ng-template #usuarioTab>
        <app-usuario></app-usuario>
    </ng-template>
    
    <ng-template #empresaTab>
        <app-empresa></app-empresa>
    </ng-template>
    
    <ng-template #eventoTab>
        <app-evento></app-evento>
    </ng-template>
    
    <ng-template #directorioTab>
        <app-directorio></app-directorio>
    </ng-template>

    <ng-template #universidadTab>
        <app-universidad></app-universidad>
    </ng-template>

    <div class="social-icons">
        <ul class="list-unstyled text-center mb-0">
            <li class="list-unstyled-item">
            <a target="_blank" href="https://twitter.com/unijaveriana?lang=es">
                <i class="fa fa-twitter"></i>
            </a>
            </li>
            <li class="list-unstyled-item">
            <a target="_blank" href="https://www.youtube.com/user/UniJaveriana">
                <i class="fa fa-youtube"></i>
            </a>
            </li>
            <li class="list-unstyled-item">
            <a target="_blank" href="https://www.facebook.com/unijaveriana">
                <i class="fa fa-facebook"></i>
            </a>
            </li>
        </ul>
    </div>
      

</div>


<span *ngIf="!esUser">
  <router-outlet></router-outlet>
</span>

     
     
      