/* Barra de opciones*/

.disabled {
    pointer-events: none;
    cursor: default;
 }

body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000066;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color:#153086;
    cursor: pointer;
}

ul.topnav li a.active {background-color: rgb(17, 26, 66);}

ul.topnav li.right {
    float: right;
    cursor:pointer;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/* CONTENEDOR IMAGENES */

.brand-container {
    background-color: #FFFFFF;
    height: 106px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.container {
    width: 1170px;
}

.brand-div {
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #FFFFFF;
}

.pull-right {
    position: relative;
    float: right;
    
}

img {
    vertical-align: middle;
}

img {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

/*Borde*/
.navtopdiv {
    background-color: #FFCC00;
    height: 7px;
}


/* esconder tamaños muy pequeños*/
@media (max-width: 510px) {                  
    .content-to-hide {
       display: none;
    }
 }