<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="esUser">    
    <header>
        <div class="container-fluid brand-container">
            <div >
                <a target="_blank" href="http://www.javeriana.edu.co"> <img src="assets/images/header/tiara.png" alt="Pontificia Universidad Javeriana"></a>            
                <img class="pull-right content-to-hide" src="assets/images/header/sice2V3.png" alt="MAX">
        </div>       
        </div>
        
        <div class="container-fluid navtopdiv"></div>
        <ul class="topnav">
            <div *ngIf="!esInvitado">
            <li><a class="active dropA fa fa-home" (click)="irAHome()"></a></li>                        
            <!-- <li class="dropdown dropdownNav"><a class="dropA">{{'ENTORNO.ADMINISTRACION'| translate}}</a>
                <ul class="dropMioJaja">
                    <li><a (click)="openTabs('usuario')" >{{'ENTORNO.USUARIOS'| translate}}</a></li>
                    <li><a (click)="openTabs('universidad')" >{{'ENTORNO.UNIVERSIDAD'| translate}}</a></li>
                    <li><a (click)="openTabs('empresa')" >{{'ENTORNO.EMPRESAS'| translate}}</a></li>
                </ul>
            </li> -->            
            <li class="dropdown dropdownNav"><a  class="dropA">{{'ENTORNO.SERVICIOS'| translate}}</a>
                <ul class="dropMioJaja">
                    <li><a (click)="openTabs('servicioEmprendimiento', null)" >{{'ENTORNO.OFERTASERVICIOS'| translate}}</a></li>
                    <li id="menuSolicitarNormal"><a (click)="openTabs('solicitarServicio', null)" >{{'ENTORNO.SOLICITARSERVICIO'| translate}}</a></li>
                    <li id="muniResponderAdmin"><a (click)="openTabs('solicitudesServicio', null)" >{{'ENTORNO.RESPONDERSOLICITUDES'| translate}}</a></li>
                </ul>
            </li>
            <li><a (click)="openTabs('evento', null)">{{'ENTORNO.EVENTOS'| translate}}</a></li>
            <li><a (click)="openTabs('directorio', null)">{{'ENTORNO.RELACIONAMIENTO'| translate}}</a></li>
            
            <li id="menuApoyoDeIdeas" class="dropdown dropdownNav"><a  class="dropA">{{'ENTORNO.APOYOIDEAS'| translate}}</a>
                <ul class="dropMioJaja">
                    <li><a (click)="openTabs('cuentanos', null)">{{'ENTORNO.CUENTANOS'| translate}}</a></li>                    
                </ul>
            </li>

            <li id="menuAdmonCorreos" class="dropdown dropdownNav"><a  class="dropA">{{'ENTORNO.CONFIGURACION'| translate}}</a>
                <ul class="dropMioJaja">
                    <li><a (click)="openTabs('admonCorreos', null)">{{'ENTORNO.ADMONCORREOS'| translate}}</a></li>
                    <li><a (click)="openTabs('confGeneral', null)">{{'ENTORNO.CONFGENERAL'| translate}}</a></li>
                    <li><a (click)="openTabs('seguimientoIdeas', null)">{{'ENTORNO.seguimientoIdeas'| translate}}</a></li>
                </ul>
            </li>


            <li><a (click)="openTabs('aboutus', null)">{{'ENTORNO.QUIENES'| translate}}</a></li>
            

            <li class="right"><a class="fa fa-sign-out" (click)="logout()" ></a></li>
            <li class="right"><a class="fa fa-user-circle-o">
                <span class="fa fa-comment"></span>
                <span class="num"></span>
              </a></li>            
            <li class="right"><a class="disabled">{{'ENTORNO.BIENVENIDO'| translate}} {{currentUser}}</a></li>            

            <li class="dropdown right">                
                <div class="infoLanguage">        
                    <select #langSelect (change)="translate.use(langSelect.value)" class="form-control" [(ngModel)]="langActual"> <!-- (change)="cerrarAlSeleccionar()" -->
                        <option class="optSelect" *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{'ENTORNO.'+lang | translate}}</option>
                    </select>            
                </div>                
            </li>
            </div>
        </ul>



        

        <!--<div> 
            <div class="dropMenu" style="right:102px;">
               
                <div class="infoLanguage">
        
                    <select #langSelect (change)="translate.use(langSelect.value)" class="form-control" (change)="cerrarAlSeleccionar()" [(ngModel)]="langActual">
                        <option class="optSelect" *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{'ENTORNO.'+lang | translate}}</option>
                    </select>
        
                </div>
            </div>
        </div> -->

    </header>
    <!-- <nav>
        <app-menu></app-menu>
    </nav> -->
    
    <br>

    <!-- <div class="modalNotify" *ngIf="staticMostrarLaNotificacion">
        Se han guardado los cambios
    </div> -->

    <app-tabs>
        <app-tab [tabTitle]="'Principal Emprendimiento'">
            <!-- <div *ngIf="getStaticMostrarEtiquetas()">
                <br><br>
                <app-etiquetas-inicio></app-etiquetas-inicio>  
            </div>
            <div *ngIf="!getStaticMostrarEtiquetas()"> -->
                <div *ngIf="!esInvitado">
                <app-board></app-board>
                </div>

                <div *ngIf="esInvitado">
                <app-invitado-crear></app-invitado-crear>
                </div>
            <!-- </div> 
            <br><br>
            <button class="btn btn-default" (click)="openTabs('about')"><i class="glyphicon glyphicon-question-sign"></i> Información </button>          -->
        </app-tab>
    </app-tabs>

    <ng-template #about>
        <br><br>    
        <p>
            Bienvenido al Sistema de Emprendimiento Javeriano
        </p>    
    </ng-template>

    <ng-template #usuarioTab>
        <app-usuario></app-usuario>
    </ng-template>
    
    <ng-template #empresaTab>
        <app-empresa></app-empresa>
    </ng-template>
    
    <ng-template #eventoTab>
        <mwl-demo-component></mwl-demo-component>
    </ng-template>

    <ng-template #eventoAbrirTab>
        <mwl-demo-component [idAbrir]="detalle"></mwl-demo-component>
    </ng-template>

    <ng-template #detalleEventoTab>
        <app-detalles-evento [idAbrir]="detalle"></app-detalles-evento>
    </ng-template>

    <ng-template #serviciosTab>
        <app-servicios-emprendimiento></app-servicios-emprendimiento>
    </ng-template>
    
    <ng-template #directorioTab>
        <app-directorio></app-directorio>
    </ng-template>

    <ng-template #universidadTab>
        <app-universidad></app-universidad>
    </ng-template>

    <ng-template #aboutUsTab>
        <app-quienes-somos></app-quienes-somos>
    </ng-template>

    <ng-template #solicitarServicioTab>
        <app-solicitar-servicio></app-solicitar-servicio>
    </ng-template>

    <ng-template #solicitudesServicioTab>
        <app-ver-solicitudes-sevicios></app-ver-solicitudes-sevicios>
    </ng-template>

    <ng-template #apoyoIdeasTab>
        <app-apoyo-de-ideas></app-apoyo-de-ideas>
    </ng-template>

    <ng-template #admonCorreosTab>
        <app-administracion-correos></app-administracion-correos>
    </ng-template>

    <ng-template #confGeneralTab>
        <app-configuracion-general></app-configuracion-general>
    </ng-template>

    <ng-template #seguimientoIdeasTab>
        <app-seguimiento-ideas></app-seguimiento-ideas>
    </ng-template>

    <div class="social-icons">
        <ul class="list-unstyled text-center mb-0">
            <li class="list-unstyled-item">
            <a target="_blank" href="https://twitter.com/unijaveriana?lang=es">
                <i class="fa fa-twitter"></i>
            </a>
            </li>
            <li class="list-unstyled-item">
            <a target="_blank" href="https://www.youtube.com/user/UniJaveriana">
                <i class="fa fa-youtube"></i>
            </a>
            </li>
            <li class="list-unstyled-item">
            <a target="_blank" href="https://www.facebook.com/RedDeEmprendimientoJaveriano">
                <i class="fa fa-facebook"></i>
            </a>
            </li>
        </ul>
    </div>
      

</div>


<span *ngIf="!esUser">
  <router-outlet></router-outlet>
</span>

     
     
      