/* Barra de opciones*/

.disabled {
    pointer-events: none;
 }

body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #000066;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.dropA) {
    background-color:#153086;
    cursor: pointer;
}

ul.topnav li a.active {background-color: rgb(17, 26, 66);}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/* CONTENEDOR IMAGENES */

.brand-container {
    background-color: #FFFFFF;
    max-height: 90px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.container {
    width: 1170px;
}

.brand-div {
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #FFFFFF;
}

.pull-right {
    position: relative;
    float: right;
    
}

img {
    vertical-align: middle;
}

img {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

/*Borde*/
.navtopdiv {
    background-color: #FFCC00;
    height: 7px;
}


/* esconder tamaños muy pequeños*/
@media (max-width: 510px) {                  
    .content-to-hide {
       display: none;
    }
 }

/*ICONOS DE REDES SOCIALES*/
  
.social-icons {
    position: absolute;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .social-icons ul {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    position:fixed;
    bottom:0px;
    margin-left: -60px !important;
    margin-bottom: 40px !important;
  }
  
  .social-icons ul > li {
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
  }
  
  .social-icons ul > li > a {
    display: block;
    color: white;
    background-color: #000066;
    border-radius: 100%;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
    opacity: 0.15;
    /*height: 30px !important;
    width: 30px !important;*/
  }

  .social-icons ul:hover > li > a {    
    opacity: 1;
    /*height: 30px !important;
    width: 30px !important;*/
  }
  
  @media (min-width: 768px) {
    .social-icons {
      margin: 0;
      position: absolute;
      right: 2.5rem;
      bottom: 2rem;
      width: auto;
    }
    .social-icons ul {
      margin-top: 0;
      width: auto;
    }
    .social-icons ul > li {
      display: block;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2rem;
    }
    .social-icons ul > li:last-child {
      margin-bottom: 0;
    }
    .social-icons ul > li > a {
      transition: all 0.2s ease-in-out;
      font-size: 2rem;
      line-height: 4rem;
      height: 4rem;
      width: 4rem;
    }
    .social-icons ul > li > a:hover {
      background-color: #FFCC00;
    }
  }
    
.fa{
    display: inline-block !important;
    font: normal normal normal 5px/1 FontAwesome;
    font-size: inherit !important;
    text-rendering: auto !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*top:50%;
    left:50%;
    transform:translateX(-1%) translateY(-100%);
    font-size: 18px !important;*/
}

.dropMioJaja{
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    padding: 12px 0px 12px 0px;
    z-index: 1;   
    /*style="color: black;" */
}

ul.dropMioJaja li a:hover{
    background-color:#153086 !important;
    color:#FFFFFF !important;
    cursor: pointer;
    display: block !important;
    text-align: left !important;
    padding: 6px 10px !important;
    text-decoration: none !important;
}

ul.dropMioJaja li {
    list-style:none !important;
}


ul.dropMioJaja li {
    float:inherit ;
}

ul.dropMioJaja li a{
    display: block !important;
    color: rgb(0, 0, 0) !important;
    text-align: left !important;
    padding: 6px 10px !important;
    text-decoration: none !important;
}

.dropdown:hover .dropMioJaja {
    display: block;
}

footer {
    position:fixed;
    bottom:0;    
    width:100%;
    height:30px;
    background:lightgrey;    
    z-index:+1;
}
footer:before {
    content:"SICE2 2018. Basado en la tesis doctoral de Efrain Ortiz PhD";
    font-size:12px;
    position:absolute;
    width:100%;    
    line-height:30px;
    text-align:center;    
    color:dimgrey;    
}
.dropdownNav:before {
    content: "";
    position: absolute;
    right: 4px;
    top: 22px;
    width: 0; 
    height: 0; 
    border-left: 3.8px solid transparent;
    border-right: 3.8px solid transparent;
    border-top: 10px solid #FFFFFF;
}

.dropdownNav{
    cursor: context-menu;
}

.dropLenguage{
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    padding: 0px 0px 0px 0px;
    z-index: 1;   
    /*style="color: black;" */
}

.dropdown:hover .dropLenguage {
    display: block;
}

.infoLanguage{
    padding: 9px 0px 0px 0px;
}

.infoLanguage select{
    height: 30px;
    background-color:#153086;
    color:#FFFFFF;
    border-color: #153086;
    cursor: pointer;
}

.infoLanguage select option{
    height: 50px;
    background-color:#FFFFFF;
    color: black;
    border-color: #FFFFFF;
    font-size: 14px;
    cursor: pointer !important;
    -webkit-appearance: none;
}

.fa-home{
    font-size: 20px !important;
    cursor: pointer;
}

.fa-sign-out{
    font-size: 20px !important;
    color: #FFFFFF;
    padding: 14px 0px 0px 0px;
}

a.fa-user-circle-o {
    position: relative;
    font-size: 20px !important;
    color: grey;
    cursor: pointer;
  }
  span.fa-comment {
    position: absolute;
    font-size: 1.3em !important;
    top: -4px;
    color: red;
    right: -4px;
  }
  span.num {
    position: absolute;
    font-size: 0.7em;
    top: 2px;
    color: #fff;
    right: 5px;
  }

  span.num:before{
    content: "4   "
}
