<br>
<div class="etiquetasMargen">


  <br><br>
  <h2>{{'CONFGENERAL.CAMPO'| translate}}</h2>
  <br><br>

  <form>
    <div class="forma">

      <mat-form-field>
        <mat-select [compareWith]="compareObjects" [(ngModel)]="seleccionados" placeholder="{{'CONFGENERAL.ACCION' | translate}}" [formControl]="campos" multiple>
          <mat-option *ngFor="let campo of listaCampos" [value]="campo">{{'CONFGENERAL.'+campo.nombre | translate}}</mat-option>
        </mat-select>
      </mat-form-field>             
    
      <input (click)="enviarEtiquetas()" type="submit" value="{{'CONFGENERAL.SEND'| translate}}">

    </div>
  </form>

</div>

<app-popup-aviso [mensaje]="mensajeMostrar" (cerroPop)="onCerrarNotify($event)"></app-popup-aviso>