
<!-- ********** DETALLES PERSONALIZADO ********** DETALLES PERSONALIZADO********** DETALLES PERSONALIZADO********** DETALLES PERSONALIZADO********** DETALLES PERSONALIZADO********** DETALLES PERSONALIZADO********** DETALLES PERSONALIZADO********** -->

<div id="overlayFormularioPersonalizado">
  
    <div class="modalShow">      
        <span class="close" (click)="cerrarPopUp()">&times;</span><br><br>

        <h4>
            Favor llenar los sisguientes datos para completar la inscripción
          </h4>

        <form>
          <div class="forma">

              <div *ngFor="let personalizados of atributosPersonalizados; let i = index">
                  <div class="form-group">
                      <label class="col-sm-2" for="pwd">{{personalizados.nombre}}</label>
                      <div class="col-sm-10">          
                      <input type="text" class="formas" id="personalizadoInput{{idActual}}{{i}}" placeholder="Ingrese información aqui" name="personalizadoLabel{{idActual}}{{i}}"
                        [(ngModel)]="personalizados.descripcion" required>
                    </div>
                  </div>
                </div>
            

          
            <input class="formas" (click)="enviar()" type="submit" value="Responder">
      
          </div>
        </form>        
  
        <br><br>
    </div>
  
    
  </div>