
<button type="button" class="btn btn-info btn-lg" (click)="abrirEdicion()">Agregar Categoria Interna</button>
<br><br><br>

<div class="panel-group" id="accordion">
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1" (click)="getDominios('UNIVERSIDAD')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.UNIVERSIDAD'| translate}}</a>
    </h4>
  </div>
  <!-- <div id="collapse1" class="panel-collapse collapse in"> -->
  <div id="collapse1" class="panel-collapse collapse">
    <div class="panel-body">
      <br>
      <ul>
        <li *ngFor="let universidad of dominiosNacionales" (click)="seleccion(universidad)">
          <div class="input-group">
            {{ universidad.nombre }}
            <a class="fa fa-external-link acordeonButton" (click)="abrirLink(universidad.url)" ></a>
            <a class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioNacional(universidad)" ></a>
            <a class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioNacional()" ></a>      
          </div>
        </li>
      </ul>
      <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" (click)="getDominios('GOBIERNO')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.GOBIERNO'| translate}}</a>
    </h4>
  </div>
  <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        <ul>
          <li *ngFor="let gobierno of dominiosNacionales" (click)="seleccion(gobierno)">
              <div class="input-group">
                {{ gobierno.nombre }}
                <a class="fa fa-external-link acordeonButton" (click)="abrirLink(gobierno.url)"></a>
              </div>
          </li>
        </ul>
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
    <h4 class="panel-title">
      <a>{{'ACORDEON.REGULADORES'| translate}}</a>
    </h4>
  </div>
  <div id="collapse3" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        Acá van a ir las REGULADORES
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
    <h4 class="panel-title">
      <a>{{'ACORDEON.INVESTIGACION'| translate}}</a>
    </h4>
  </div>
  <div id="collapse4" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        Acá van a ir las INVESTIGACION
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5" (click)="getDominios('ONG')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.ONG'| translate}}</a>
    </h4>
  </div>
  <div id="collapse5" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        <ul>
          <li *ngFor="let ong of dominiosNacionales" (click)="seleccion(ong)">
              <div class="input-group">
                {{ ong.nombre }}
                <a class="fa fa-external-link acordeonButton" (click)="abrirLink(ong.url)"></a>
              </div>
          </li>
        </ul>
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
    <h4 class="panel-title">
      <a>{{'ACORDEON.INDUSTRIA'| translate}}</a>
    </h4>
  </div>
  <div id="collapse6" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        Acá van a ir las INDUSTRIA
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
    <h4 class="panel-title">
      <a>{{'ACORDEON.SPONSOR'| translate}}</a>
    </h4>
  </div>
  <div id="collapse7" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        Acá van a ir las SPONSOR
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse8" (click)="getDominios('RED_MENTORES')">
      <h4 class="panel-title">
        <a>{{'ACORDEON.MENTORES'| translate}}</a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">
          <br>
          <ul>
            <li *ngFor="let mentores of dominiosNacionales" (click)="seleccion(mentores)">
                <div class="input-group">
                  {{ mentores.nombre }}
                  <a class="fa fa-external-link acordeonButton" (click)="abrirLink(mentores.url)"></a>
                </div>
            </li>
          </ul>
          <br>
      </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse9" (click)="getDominios('RED_FINANCIADORES')">
      <h4 class="panel-title">
        <a>{{'ACORDEON.FINANCIADORES'| translate}}</a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">
          <br>
          <ul>
            <li *ngFor="let financiador of dominiosNacionales" (click)="seleccion(financiador)">
                <div class="input-group">
                  {{ financiador.nombre }}
                  <a class="fa fa-external-link acordeonButton" (click)="abrirLink(financiador.url)"></a>
                </div>
            </li>
          </ul>
          <br>
      </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
      <h4 class="panel-title">
        <a>{{'ACORDEON.INCUBADORES'| translate}}</a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body">
          <br>
          Acá van a ir las INCUBADORES
          <br>
      </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse11" (click)="getDominios('RED_ACELERADORAS')">
      <h4 class="panel-title">
        <a>{{'ACORDEON.ACELERADORES'| translate}}</a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse">
      <div class="panel-body">
          <br>
          <ul>
            <li *ngFor="let acelerador of dominiosNacionales" (click)="seleccion(acelerador)">
                <div class="input-group">
                  {{ acelerador.nombre }}
                  <a class="fa fa-external-link acordeonButton" (click)="abrirLink(acelerador.url)"></a>
                </div>
            </li>
          </ul>
          <br>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-info btn-lg" (click)="editarDominioNacional()">Editar Prueba</button>

<button type="button" class="btn btn-info btn-lg" (click)="editarImagenDominioNacional()">Imagen Prueba</button>

<app-dominio-pop-up></app-dominio-pop-up>

<app-adicionar-dominio-pop-up></app-adicionar-dominio-pop-up>

<app-imagen-pop-up></app-imagen-pop-up>

 

<!--
  <div class="contGridFluid">
        <div  *ngFor="let u of directorioUniversidades; let i = index" class="colGrid3" style="text-align:center">
          <ng-container>
            <img id="botonSIIEJ{{u.id}}" src="{{u.imagen}}" (click)="abrirLink(u)" height="200" width="200">  
            <label for="botonSIIEJ{{u.id}}">{{u.nombreUniversidad}}</label>
          </ng-container>
        </div>  
      </div>

    -->