<!-- <button type="button" class="btn btn-info btn-lg" (click)="abrirEdicion()">Agregar Categoria Interna</button> -->
<a *ngIf="esAdmin" class="fa fa-plus-circle" (click)="abrirEdicion()" ></a>
<br>
<div class="panel-group" id="accordion">
<div class="panel panel-default">
  <div class="panel-heading" (click)="getDominios('UNIVERSIDAD')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.UNIVERSIDAD'| translate}}</a>
    </h4>
  </div>
  <!-- <div id="collapse1" class="panel-collapse collapse in"> -->
  <div id="collapse1" *ngIf="map.get('UNIVERSIDAD')">
    <div class="panel-body">
      <br>
      <div class="contGridFluid">
          <div *ngFor="let universidad of dominiosNacionales" (click)="seleccion(universidad)" class="colGrid3" style="text-align:center">
          
            <ng-container>
              <img class="imagenAcordeon" src="../../../assets/images/add-icon.png" (click)="abrirLink(universidad.url)">  
              <br><br>
              <div class="input-group">
                <a class="acordeonButton labelAcordeon">{{ universidad.nombre }}</a>
              </div>
              <br>
              <div class="input-group">
                <a class="fa fa-external-link acordeonButton" (click)="abrirLink(universidad.url)"></a>
                <a *ngIf="esAdmin" class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioNacional(universidad)" ></a>
                <a *ngIf="esAdmin" class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioNacional(universidad.id)" ></a> 
              </div>       
              <br><br><br> 
            </ng-container>

        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" (click)="getDominios('GOBIERNO')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.GOBIERNO'| translate}}</a>
    </h4>
  </div>
  <div id="collapse2" *ngIf="map.get('GOBIERNO')">
    <div class="panel-body">
        <br>
        <div class="contGridFluid">
            <div *ngFor="let gobierno of dominiosNacionales" (click)="seleccion(gobierno)" class="colGrid3" style="text-align:center">
              
              <ng-container>
                <img class="imagenAcordeon" src="../../../assets/images/add-icon.png" (click)="abrirLink(gobierno.url)">  
                <br><br>
                <div class="input-group">
                  <a class="acordeonButton labelAcordeon">{{ gobierno.nombre }}</a>
                </div>
                <br>
                <div class="input-group">
                  <a class="fa fa-external-link acordeonButton" (click)="abrirLink(gobierno.url)"></a>
                  <a *ngIf="esAdmin" class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioNacional(gobierno)" ></a>
                  <a *ngIf="esAdmin" class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioNacional(gobierno.id)" ></a> 
                </div>       
                <br><br><br> 
              </ng-container>

          </div>
        </div>
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a>{{'ACORDEON.REGULADORES'| translate}}</a>
    </h4>
  </div>
  <div id="collapse3" *ngIf="map.get('REGULADORES')">
    <div class="panel-body">
        <br>
        Acá van a ir las REGULADORES
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
    <h4 class="panel-title">
      <a>{{'ACORDEON.INVESTIGACION'| translate}}</a>
    </h4>
  </div>
  <div id="collapse4" class="panel-collapse collapse">
    <div class="panel-body">
        <br>
        Acá van a ir las INVESTIGACION
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" (click)="getDominios('ONG')">
    <h4 class="panel-title">
      <a>{{'ACORDEON.ONG'| translate}}</a>
    </h4>
  </div>
  <div id="collapse5" *ngIf="map.get('ONG')">
    <div class="panel-body">
        <br>
        <div class="contGridFluid">
          <div *ngFor="let ong of dominiosNacionales" (click)="seleccion(ong)" class="colGrid3" style="text-align:center">
              
            <ng-container>
              <img class="imagenAcordeon" src="../../../assets/images/add-icon.png" (click)="abrirLink(ong.url)">  
              <br><br>
              <div class="input-group">
                <a class="acordeonButton labelAcordeon">{{ ong.nombre }}</a>
              </div>
              <br>
              <div class="input-group">
                <a class="fa fa-external-link acordeonButton" (click)="abrirLink(ong.url)"></a>
                <a *ngIf="esAdmin" class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioNacional(ong)" ></a>
                <a *ngIf="esAdmin" class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioNacional(ong.id)" ></a> 
              </div>       
              <br><br><br> 
            </ng-container>  

          </div>
        </div>
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a>{{'ACORDEON.INDUSTRIA'| translate}}</a>
    </h4>
  </div>
  <div id="collapse6" *ngIf="map.get('INDUSTRIA')">
    <div class="panel-body">
        <br>
        Acá van a ir las INDUSTRIA
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a>{{'ACORDEON.SPONSOR'| translate}}</a>
    </h4>
  </div>
  <div id="collapse7" *ngIf="map.get('SPONSOR')">
    <div class="panel-body">
        <br>
        Acá van a ir las SPONSOR
        <br>
    </div>
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" (click)="getDominios('RED_MENTORES')">
      <h4 class="panel-title">
        <a>{{'ACORDEON.MENTORES'| translate}}</a>
      </h4>
    </div>
    <div id="collapse8" *ngIf="map.get('RED_MENTORES')">
      <div class="panel-body">
          <br>
          <div class="contGridFluid">
            <div *ngFor="let mentores of dominiosNacionales" (click)="seleccion(mentores)" class="colGrid3" style="text-align:center">
                
              <ng-container>
                <img class="imagenAcordeon" src="../../../assets/images/add-icon.png" (click)="abrirLink(mentores.url)">  
                <br><br>
                <div class="input-group">
                  <a class="acordeonButton labelAcordeon">{{ mentores.nombre }}</a>
                </div>
                <br>
                <div class="input-group">
                  <a class="fa fa-external-link acordeonButton" (click)="abrirLink(mentores.url)"></a>
                  <a *ngIf="esAdmin" class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioNacional(mentores)" ></a>
                  <a *ngIf="esAdmin" class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioNacional(mentores.id)" ></a> 
                </div>       
                <br><br><br> 
              </ng-container>

            </div>
          </div>
          <br>
      </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading" (click)="getDominios('RED_FINANCIADORES')">
      <h4 class="panel-title">
        <a>{{'ACORDEON.FINANCIADORES'| translate}}</a>
      </h4>
    </div>
    <div id="collapse9" *ngIf="map.get('RED_FINANCIADORES')">
      <div class="panel-body">
          <br>
          <div class="contGridFluid">
            <div *ngFor="let financiador of dominiosNacionales" (click)="seleccion(financiador)" class="colGrid3" style="text-align:center">
                
              <ng-container>
                <img class="imagenAcordeon" src="../../../assets/images/add-icon.png" (click)="abrirLink(financiador.url)">  
                <br><br>
                <div class="input-group">
                  <a class="acordeonButton labelAcordeon">{{ financiador.nombre }}</a>
                </div>
                <br>
                <div class="input-group">
                  <a class="fa fa-external-link acordeonButton" (click)="abrirLink(financiador.url)"></a>
                  <a *ngIf="esAdmin" class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioNacional(financiador)" ></a>
                  <a *ngIf="esAdmin" class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioNacional(financiador.id)" ></a> 
                </div>       
                <br><br><br> 
              </ng-container>

            </div>
          </div>
          <br>
      </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a>{{'ACORDEON.INCUBADORES'| translate}}</a>
      </h4>
    </div>
    <div id="collapse10" *ngIf="map.get('INCUBADORES')">
      <div class="panel-body">
          <br>
          Acá van a ir las INCUBADORES
          <br>
      </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading" (click)="getDominios('RED_ACELERADORAS')">
      <h4 class="panel-title">
        <a>{{'ACORDEON.ACELERADORES'| translate}}</a>
      </h4>
    </div>
    <div id="collapse11" *ngIf="map.get('RED_ACELERADORAS')">
      <div class="panel-body">
          <br>
          <div class="contGridFluid">
            <div *ngFor="let acelerador of dominiosNacionales" (click)="seleccion(acelerador)" class="colGrid3" style="text-align:center">
                
              <ng-container>
                <img class="imagenAcordeon" src="../../../assets/images/add-icon.png" (click)="abrirLink(acelerador.url)">  
                <br><br>
                <div class="input-group">
                  <a class="acordeonButton labelAcordeon">{{ acelerador.nombre }}</a>
                </div>
                <br>
                <div class="input-group">
                  <a class="fa fa-external-link acordeonButton" (click)="abrirLink(acelerador.url)"></a>
                  <a *ngIf="esAdmin" class="fa fa-pencil-square-o acordeonButton" (click)="editarDominioNacional(acelerador)" ></a>
                  <a *ngIf="esAdmin" class="fa fa-cloud-upload acordeonButton" (click)="editarImagenDominioNacional(acelerador.id)" ></a> 
                </div>       
                <br><br><br> 
              </ng-container>

            </div>
          </div>
          <br>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-info btn-lg" (click)="editarDominioNacional(datos)">Editar Prueba</button>

<button type="button" class="btn btn-info btn-lg" (click)="editarImagenDominioNacional(datos.id)">Imagen Prueba</button>

<app-dominio-pop-up></app-dominio-pop-up>

<app-adicionar-dominio-pop-up></app-adicionar-dominio-pop-up>

<app-imagen-pop-up></app-imagen-pop-up>

 

<!--
  <div class="contGridFluid">
        <div  *ngFor="let u of directorioUniversidades; let i = index" class="colGrid3" style="text-align:center">
          <ng-container>
            <img id="botonSIIEJ{{u.id}}" src="{{u.imagen}}" (click)="abrirLink(u)" height="200" width="200">  
            <label for="botonSIIEJ{{u.id}}">{{u.nombreUniversidad}}</label>
          </ng-container>
        </div>  
      </div>

    -->