<ngb-carousel>
    <ng-template *ngFor="let imagenMostrar of [1,2,3]" ngbSlide>
      <img src="../../assets/images/banner/javebanner{{imagenMostrar}}.jpg" alt="Slide {{imagenMostrar}}" (click)="clickImagen('servicioEmprendimiento')">
      <div class="carousel-caption">
        <h3>Titulo Slide {{imagenMostrar}}</h3>
        <p>Texto con formato en el slide {{imagenMostrar}}.</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <br><br><br>
  <p class="tituloPanel w3-xxxlarge">{{'BOARD.EMPRENDEDOR'| translate}}</p>
  <!-- ../../assets/images/jave2.png -->
  <!-- https://lorempixel.com/900/500?r=1 -->