.tituloPanel {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
}

img{
    margin: auto;
    width: 100% !important;
    
    max-height: 500px;
}

div.carousel-caption{
    background-color: black;
    opacity: 0.5;
}

::ng-deep ol.carousel-indicators{
    margin: auto;
    width: 100% !important;
    padding: 10px;
    max-height: 400px;
}

::ng-deep ol.carousel-indicators .active{
    border-color: white;
    background-color: darkslategrey;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 6px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
}

/* Para quitar border azul en click */
.carousel.slide{
    outline: none !important;
}

::ng-deep a.carousel-control-prev:hover,
::ng-deep a.carousel-control-next:hover{
    background-color: black;
    opacity: 0.1;
    
}

::ng-deep a.carousel-control-prev{
    margin-left: -40px;
}

::ng-deep a.carousel-control-next{
    margin-right: -40px;
}

::ng-deep div.carousel-caption{
    border-radius: 10px;
}

/* Cuerpo del board */

img.inicioPanel{
    border-radius: 30%;
    padding: 5px 80px;
}

p.labelPanel{
    padding: 0px 90px !important;
}

.recuadro{
    background-color:rgb(206, 202, 186);
    text-align: center!important;
    padding: 3rem!important;
    border-radius: .25rem!important;
    font-weight: 500;
    line-height: 1.2;
    margin-right: 20px;
    margin-left: 20px;
}

.recuadroGrande{
    /* background-color:#fcf8e3; */
    background-color:#f0e8bf;
    text-align: center!important;
    padding: 3rem!important;
    border-radius: .25rem!important;
    font-weight: 500;
    line-height: 1.2;
    min-height: 400px;
}

.textoRecuadro{
    text-transform: uppercase;
    margin-bottom: 1.5rem!important;
    font-family: Lora;
    font-size: 2rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.recuadroGrande .section-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #8a6d3b;
}

.recuadroGrande .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
    color: #8a6d3b
}

.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;    
}

.mb-3{
    display: block;
    font-size: 2rem;
    font-weight: 500;
}

.section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}


a.btn {
    box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
    text-align:center !important;
    display:block !important;    
  }

  div.botonRecuadro{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align:center;
    display:block;
  }
  
  .btn-primary {
    background-color: #e6a756;
    border-color: #e6a756;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #FFCC00;
    border-color: #FFCC00;
  }
  
  .font-weight-light {
    font-weight: 100 !important;
  }

  .acordeonButton{
    /* margin: auto;
    width: 20%;
    padding: 10px; */
    display: table;  /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
  }

  .input-group{
    padding: 0px 140px !important; 
    /* padding: 0px 180px !important;  */
  }

  a.fa.fa-external-link,
  a.fa.fa-pencil-square-o,
  a.fa.fa-cloud-upload{
    border-color : #FFCC00;
    font-size: 40px;
    color: #FFCC00;
    cursor: pointer;
  }

  .labelAcordeon{
    font-size: 1rem;
    font-weight: 800;   
  }

  .imagenAcordeon{
    cursor: pointer;
    border-radius: 30%;
    padding: 5px 80px;
    height: 200px;
    max-width: 450px;
  }

/* El del icono next */
/* ::ng-deep span.carousel-control-next-icon{
    
} */

p a{
    color: blue;
    text-shadow: 0 0 12px rgba(230,160,55,0.6);
}