<ngb-carousel>
    <ng-template *ngFor="let imagenMostrar of [1,2,3]" ngbSlide>
      <img src="../../assets/images/banner/ImagenJav{{imagenMostrar}}.jpg" alt="Slide {{imagenMostrar}}" (click)="clickImagen('servicioEmprendimiento')">
      <div class="carousel-caption">
        <h3>Titulo Slide {{imagenMostrar}}</h3>
        <p>Texto con formato en el slide {{imagenMostrar}}.</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <br>
  <p class="tituloPanel w3-xxxlarge">{{'BOARD.EMPRENDEDOR'| translate}}</p>

  <br>
    
  <div class="contGridFluid">
    <div class="colGrid4" >
      <ng-container>
        <img class="inicioPanel" id="botonSIIEJ1" src="../../assets/images/banner/javebanner1.jpg" (click)="abrirLink(u)" height="200" width="200">  
        <br><br>
        <p class="mb-3 labelPanel" for="botonSIIEJ1"> 
          El sistema busca apoyar la coordinación entre los diferentes actores que se encuentran en
          el ecosistema de innovación y emprendimiento de la facultad de ingeniería. Son múltiples
          los mecanismos y procesos que tendrá el sistema para apoyar y contribuir a la coordinación
          entre actores. Estos mecanismos se dividen en dos, pueden ser internos o externos.
        </p>
      </ng-container>
      <ng-container>
        <br>
        <img class="inicioPanel" id="botonSIIEJ1" src="../../assets/images/banner/javebanner1.jpg" (click)="abrirLink(u)" height="200" width="200">  
        <br><br>
        <p class="mb-3 labelPanel" for="botonSIIEJ1"> 
          El sistema busca apoyar la coordinación entre los diferentes actores que se encuentran en
          el ecosistema de innovación y emprendimiento de la facultad de ingeniería. Son múltiples
          los mecanismos y procesos que tendrá el sistema para apoyar y contribuir a la coordinación
          entre actores. Estos mecanismos se dividen en dos, pueden ser internos o externos.
        </p>
      </ng-container>
    </div> 
    <div class="colGrid4">
      <ng-container>
        <img class="inicioPanel" id="botonSIIEJ1" src="../../assets/images/banner/javebanner1.jpg" (click)="abrirLink(u)" height="200" width="200">  
        <br><br>        
        <p class="mb-3 labelPanel" for="botonSIIEJ1">
            La Pontificia Universidad Javeriana es una universidad privada colombiana fundada en 1623 y regentada por la Compañía de Jesús.
            En 2016 y 2017 logró posicionarse como la mejor universidad del país según Times Higher Education, 
            una de las firmas más prestigiosas a nivel mundial en World University Rankings. Adicionalmente, 
            tiene 179 grupos de investigación registrados en Colciencias de los cuales 99 han sido 
            escalafonados de acuerdo con su productividad, lo que convierte a esta institution en una de las 
            cinco universidades del país con el mayor número de grupos de investigación reconocidos por 
            Colciencias y la más destacada de las privadas en este campo junto a la Universidad de los Andes.
            <br><br>
            <a id="title" href="http://www.javeriana.edu.co" target="_blank">Aprende más...</a>
        </p>
      </ng-container>
    </div> 
    <div class="colGrid2" style="text-align:center">
      <div class="recuadro">
        <h2 class="textoRecuadro">
          <span class="section-heading-upper">Emprende</span>
          <span class="section-heading-lower">Con Nosotros</span>
        </h2>
        <p class="mb-3">
          Los proyectos y eventos que puedan ser creados en este
          sistema podrían tener un patrocinio, es por esto que el inversionista es
          identificado como un stakeholder.
        </p>
        <br>
        <div class="botonRecuadro">
          <a class="btn btn-primary" (click)="aprende()">
            Aprende Más
          </a>
        </div>
      </div>
    </div>  
  </div>

  <!-- ../../assets/images/jave2.png -->
  <!-- https://lorempixel.com/900/500?r=1 -->