.tituloPanel {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
}

img{
    margin: auto;
    width: 100% !important;
    padding: 10px;
    max-height: 400px;
}

div{
    background-color: black;
    opacity: 0.5;
}

::ng-deep ol.carousel-indicators{
    margin: auto;
    width: 100% !important;
    padding: 10px;
    max-height: 400px;
}

::ng-deep ol.carousel-indicators .active{
    border-color: white;
    background-color: black;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 6px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
}

/* Para quitar border azul en click */
.carousel.slide{
    outline: none !important;
}

::ng-deep a.carousel-control-prev:hover,
::ng-deep a.carousel-control-next:hover{
    background-color: black;
    opacity: 0.1;
    
}

::ng-deep a.carousel-control-prev{
    margin-left: -40px;
}

::ng-deep a.carousel-control-next{
    margin-right: -40px;
}

::ng-deep div.carousel-caption{
    border-radius: 10px;
}

/* Eñl del icono next */
/* ::ng-deep span.carousel-control-next-icon{
    
} */