<br>

<div class="calendarioMargen">

<div class="input-group" style="float:right;">
  <!-- <button type="button" style="float:right; background-color: #000066 ; border-color : #000066" class="btn btn-info btn-lg" (click)="abrirAdicionEvento() ; mostrarEventos=true;">{{'EVENTOS.ADD'| translate}}</button> -->
  <!-- <button type="button" style="float:right; background-color: #000066 ; border-color : #000066" class="btn btn-info btn-lg" (click)="abrirTodosEventos() ; mostrarEventos=true;">{{'EVENTOS.SHOW'| translate}}</button> -->
  <a class="fa fa-plus-circle" (click)="abrirAdicionEvento() ; mostrarEventos=true;" ></a>
  <a class="fa fa-list-ul" (click)="abrirTodosEventos() ; mostrarEventos=true;" ></a>
  
</div>

<br><br><br>
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        {{'EVENTOS.PREV'| translate}}
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        {{'EVENTOS.HOY'| translate}}
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        {{'EVENTOS.NEXT'| translate}}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es-CO' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = 'month'"
        [class.active]="view === 'month'">
        {{'EVENTOS.MES'| translate}}
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'week'"
        [class.active]="view === 'week'">
        {{'EVENTOS.WEEK'| translate}}
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'day'"
        [class.active]="view === 'day'">
        {{'EVENTOS.DAY'| translate}}
      </div>
    </div>
  </div>
</div>
<br>


<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<br><br>

<div id="overlayEvento">
  
  <div class="modalShow">      
      <span class="close" (click)="cerrarPopUp()">&times;</span><br><br>

      <div *ngIf="accion==1">
        <h3>
          {{'EVENTOS.EDIT'| translate}}
          <div class="clearfix"></div>
        </h3>
      </div>

      <div *ngIf="accion==2">
        <h3>
          {{'EVENTOS.CREATE'| translate}}
          <div class="clearfix"></div>
        </h3>
      </div>

      <div *ngIf="accion==3">
        <h3>
          {{'EVENTOS.LIST'| translate}}
          <div class="clearfix"></div>
        </h3>
      </div>
        <!-- <button
          class="btn btn-primary pull-right"
          (click)="addEvent()">
          Agregar
        </button> -->
        

      <table class="table table-bordered">

        <thead>
          <tr>
            <th>{{'EVENTOS.NAME'| translate}}</th>
            <!-- <th>{{'EVENTOS.COLOR'| translate}}</th> -->
            <!-- <th>Color Auxiliar</th> -->
            <th>{{'EVENTOS.BEGIN'| translate}}</th>
            <th>{{'EVENTOS.END'| translate}}</th>
            <!-- <th>Eliminar</th> -->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let event of eventsEditar; let index = index">
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title"
                (ngModelChange)="cambio('titulo',event.title, 'STRING')"
                (keyup)="refresh.next()">
            </td>
            <!-- <td>
              <input
                type="color"
                [(ngModel)]="event.color.primary"
                (change)="refresh.next()">
            </td> -->
            <!--
            <td>
              <input
                type="color"
                [(ngModel)]="event.color.secondary"
                (change)="refresh.next()">
            </td>
            -->
            <td>
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="event.start"
                (ngModelChange)="refresh.next(); cambio('inicio',event.start, 'FECHA')"
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
            </td>
            <td>
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="event.end"
                (ngModelChange)="refresh.next(); cambio('fin',event.end, 'FECHA')"
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
            </td>
            <!--
            <td>
              <button
                class="btn btn-danger"
                (click)="eliminar(event.id)">
                x
              </button>
            </td>
            -->
          </tr>
        </tbody>

      </table>


      
        <br><br>
        <!-- <div *ngIf="accion==2"> -->
          <div class="input-group centered">
            <button  class="btn btn-info btn-lg guardar" type="button" (click)="guardarCambios()">{{'EVENTOS.SAVE'| translate}}</button>       
            <button  class="btn btn-info btn-lg cancelar" type="button" (click)="cerrarPopUp()">{{'EVENTOS.CANCEL'| translate}}</button>
          </div>
        <!-- </div> -->



    </div>
</div>


<br><br>

<div id="overlayInformacionEvento">
  
  <div class="modalShow">      
      <span class="close" (click)="cerrarPopUpDetalle()">&times;</span><br><br>

      
      <h4>
        {{detalleEvento}}
      </h4>  

      <a *ngIf="!suscrito" class="fa fa-bell" (click)="suscribirse()" >Suscribirse</a>
      <a *ngIf="suscrito" class="fa fa-check" (click)="desuscribirse()" >Suscrito</a>

      <br><br>
      <h5>Descripcion</h5>
      <br><br>
      <h6>          
        {{descripcionEvento}}        
      </h6>  
      <br><br>
      <h5>Requisitos</h5>
      <br><br>
      <h6>          
        {{requisitosEvento}}
      </h6>
      <br><br>
    
      <app-suscriptores></app-suscriptores>      

    </div>
</div>

</div>