h3 {
    margin: 0 0 10px;
    text-transform: uppercase;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  a.fa.fa-list-ul,
  a.fa.fa-plus-circle{
    float:right; 
    border-color : #FFCC00;
    font-size: 40px;
    color: #FFCC00;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  #overlayInformacionEvento,
  #overlayEvento {
    visibility: hidden;
    /*position: absolute;*/
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;        
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */    
}

#overlayInformacionEvento div.modalShow,
#overlayEvento div.modalShow {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    border: 2px solid #000066;
    border-radius: 8px;
    /* max-height: 800px;
    overflow: scroll; */
}

body {
    height:100%;
    margin:0;
    padding:0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

::ng-deep span.cal-day-badge.ng-star-inserted{
    background-color : #000066 !important;
}

::ng-deep div.pane{
    margin-left: 40px;
    margin-right:40px;
}

::ng-deep div.btn.btn-primary{
    background-color : #000066;
    border-color: #000066;
}

::ng-deep div.btn.btn-primary:hover{
    background-color : #FFCC00;
    border-color: #FFCC00;
    color: black;
}

::ng-deep div.btn.btn-primary.active{
    background-color : #153086 !important;
    border-color : #153086 !important;
}

::ng-deep a.cal-event-action.ng-star-inserted .fa.fa-fw.fa-times{
    color :rgb(233, 30, 30);
}

::ng-deep a.cal-event-action.ng-star-inserted .fa.fa-fw.fa-times:hover{
    color :darkred;
}

::ng-deep a.cal-event-action.ng-star-inserted .fa.fa-plus-square{
    color : green;
}

::ng-deep a.cal-event-action.ng-star-inserted .fa.fa-plus-square:hover{
    color : darkgreen;
}

::ng-deep div.cal-open-day-events.ng-tns-c12-3.ng-trigger.ng-trigger-collapse.ng-star-inserted{
    background-color: #332a2a !important;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .centered button,
  .centered button:focus
  {
    background-color: #000066;
    color : #ffffff;
    border-color: #ffffff;  
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .centered button:hover.guardar,
  .centered button:visited,
  .centered button:active
  {
    background-color: green ;
    color : #ffffff;
    border-color: #ffffff;  
  }

  .centered button:hover.cancelar,
  .centered button:visited,
  .centered button:active
  {
    background-color:  red ;
    color : #ffffff;
    border-color: #ffffff;  
  }

  .input-group{
      display:block !important;
  }