<div id="overlayAviso">
  
  <div class="modalShow">      
      <span class="close" (click)="cerrarPopUp()">&times;</span><br><br>

      
      <h3 class="alerta">
        Advertencia
      </h3>  
      
      <br><br>
      <h4>          
        {{mensaje}}
      </h4>
      <br><br>

    </div>
</div>

<div id="overlayAvisoInfoExito">
  
  <div class="modalShowInfoExito">      
      <span class="close" (click)="cerrarPopUpExito()">&times;</span><br><br>

      
      <h3 class="exito">
        Información
      </h3>  
      
      <br><br>
      <h4>          
        {{mensaje}}
      </h4>
      <br><br>

    </div>
</div>