<br>
<div *ngIf="esAdmin" class="tablaMargen">
<h2>Inscritos</h2>

<!-- usuario : {{idUsuario}}
evento : {{idEvento}} -->

<br><br>

<a *ngIf="esAdmin" class="fa fa-file-excel-o" (click)="exportarExcel()" ></a>
<a *ngIf="esAdmin" class="fa fa-file-pdf-o " (click)="exportarPDF()" ></a>

<div class="mat-app-background basic-container">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8" >

    <mat-table #tableSuscriptores [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> <a> {{row.apellidos}} </a> </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row"> <a> {{row.nombre}} </a> </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
        <mat-cell *matCellDef="let row"> <a> {{row.estado}} </a> </mat-cell>
      </ng-container>

      <!-- Info Column -->
      <ng-container matColumnDef="informacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let row"  (click)="abrirDetalles(row)"></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[2, 10, 25, 100]"></mat-paginator>
  </div>

</div>
</div>

<br><br>



<!-- ********** DETALLES PERSONALIZADO ********** DETALLES PERSONALIZADO********** DETALLES PERSONALIZADO********** DETALLES PERSONALIZADO********** DETALLES PERSONALIZADO********** DETALLES PERSONALIZADO********** DETALLES PERSONALIZADO********** -->

<div id="overlayDetallesFinos">
  
    <div id="modalListaJa" class="modalShow">      
        <span class="close" (click)="cerrarPopUp()">&times;</span><br><br>

        <h4>
            Detalles
          </h4>

        <form>
          <div class="forma">

            <div *ngFor="let personalizados of atributosPersonalizados; let i = index">
                <div class="form-group">
                    <label class="col-sm-2" for="pwd">{{personalizados.nombreAtrPersonalizado}}</label>
                    <div class="col-sm-10">          
                    <input id="listado{{i}}" type="text" class="formas" [(ngModel)]="personalizados.respuestaAtrPersonalizado" name="first">
                  </div>
                </div>
              </div>      
          </div>
        </form>   
  
        <br><br>
    </div>
  
    
  </div>