h2 {
	color: #000066;
}

button,
button:focus
{
  background-color: #000066;
  color : #ffffff;
  border-color: #ffffff;  
}

button:hover,
button:visited,
button:active
{
  background-color: #ffffff ;
  color : #000066;
  border-color: #000066;  
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

::ng-deep div.tablaMargen{
  margin-left: 40px;
  margin-right:40px;
}

a{
  float:left;
}


/* BOTONES EXPORTAR */

a.fa.fa-file-excel-o{
  float:right; 
  border-color : darkgreen;
  font-size: 45px;
  color: darkgreen;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

a.fa.fa-file-pdf-o{
  float:right; 
  border-color : darkred;
  font-size: 45px;
  color: darkred;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
