<br>
<div class="tablaMargen">
  
  <br><br>
  <h2>{{'ENTORNO.SOLICITARSERVICIO' | translate}}</h2>
  <br>
  <div class="colGrid2 textoPanel" style="text-align:center">
    <p class="margenTexto mb-3 labelPanel"> 
      {{'SOLICITARSERVICIO.INFO' | translate}}
    </p>
  </div>
  <br>
  <form>
    <div class="forma">
        
      <input placeholder="{{'SOLICITARSERVICIO.NOMBRE' | translate}}" #nombre maxlength="80" [(ngModel)]="solicitudPojo.nombre" name="Name" required>
            
      <br><br>

      <textarea placeholder="{{'SOLICITARSERVICIO.MENSAJE' | translate}}" #msn maxlength="300" [(ngModel)]="solicitudPojo.descripcion" name="Msn" cols="25"></textarea>
    
      <input (click)="solicitarServicio()" type="submit" value="{{'SOLICITARSERVICIO.SEND' | translate}}">

    </div>
  </form>
  <br><br><br>


  <app-popup-aviso [mensaje]="mensajeMostrar" (cerroPop)="onCerrarNotify($event)"></app-popup-aviso>

</div>