<br>
<div class="tablaMargen">
  
  <br><br>
  <h2>Solicitar Servicio</h2>
  <br><br>

  <form>
    <div class="forma">
        
      <input placeholder="Nombre" #nombre maxlength="80" [(ngModel)]="solicitudPojo.nombre" name="Name" required>
            
      <br><br>

      <textarea placeholder="Mensaje" #msn maxlength="300" [(ngModel)]="solicitudPojo.descripcion" name="Msn" cols="25"></textarea>
    
      <input (click)="solicitarServicio()" type="submit" value="Enviar">

    </div>
  </form>
  <br><br><br>


  

</div>