<br>
<div class="tablaMargen">
  
  <br><br>
  <h2>Solicitar Servicio</h2>
  <br>
  <div class="colGrid2 textoPanel" style="text-align:center">
    <p class="margenTexto mb-3 labelPanel"> 
      Este espacio le permite solicitar un servicio que usted cree puede aportar a su formación como
      emprendedor. Un administrador revisará la solicitud y dará respuesta. 
      </p>
  </div>
  <br>
  <form>
    <div class="forma">
        
      <input placeholder="Nombre" #nombre maxlength="80" [(ngModel)]="solicitudPojo.nombre" name="Name" required>
            
      <br><br>

      <textarea placeholder="Mensaje" #msn maxlength="300" [(ngModel)]="solicitudPojo.descripcion" name="Msn" cols="25"></textarea>
    
      <input (click)="solicitarServicio()" type="submit" value="Enviar">

    </div>
  </form>
  <br><br><br>


  <app-popup-aviso [mensaje]="mensajeMostrar" (cerroPop)="onCerrarNotify($event)"></app-popup-aviso>

</div>